.all {
    display: flex;
    justify-content: center;
}
.list-img .img {
    list-style: none;
}
.list-img img {
    cursor: pointer;
}
/*#main_img {*/
/*    width: auto;*/
/*}*/
/*#main_img img {*/
/*    width: 0px;*/
/*}*/

